*.log
.DS_Store
Thumbs.db

.env
.env.backup
.env.production
/auth.json

/vendor
/node_modules

/public/build
/public/hot
/public/storage

/storage/*.key
/storage/pail
/storage/logs
/storage/framework

.phpunit.result.cache
/.phpunit.cache

/.fleet
/.idea
/.vscode
/.zed
/.nova




.phpactor.json

Homestead.json
Homestead.yaml

# Temporary files
tmpclaude-*
temp_log.txt
